<h1> Adicione o Usuário </h1>

<form action="/users/create" method="post" class="form">
  <div class="form-control">
    <label for="name"> Nome: </label>
    <input type="text" name="name" placeholder="Digite o Nome do Usuário">    
  </div>

  <div class="form-control">
    <label for="occupation"> Ocupação: </label>
    <input type="text" name="occupation" placeholder="Digite a Ocupação do Usuário">    
  </div>

  <div class="form-control form-checkbox">
    <input type="checkbox" name="newsletter" checked>    
    <label for="newsletter"> Enviar Promoções?: </label>    
  </div>

  <input type="submit" value="Cadastrar">
</form>