<h1> Olá Handlesbars </h1>

{{#if approved}}
  <p> Parabéns Seu Cadastro Foi Aprovado!!! </p>
{{else}}
  <p> O Seu Cadastro Precisa de Aprovação Total do Sistema </p>
{{/if}}

<p> O nome do Usuário é: {{user.name}} {{user.surname}}, e ele tem {{user.age}} anos </p>

{{#if auth}}
<p>
  Você está autenticado, <a href="/dashboard"> clique aqui </a> para acessar a área de membros
</p>
{{/if}}